:root {
    --main-color: #777;
	--title-container-background-color: #000;
	--title-container-color: #fff;
}

body {
	background-color: var(--main-color);
	margin: 0;
	height: 100vh;
}

.collapsible-wrapper {
	/* dimensions */
	cursor: pointer;

	/* flex properties */
	display: flex;	
	flex-flow: row nowrap;
	align-items: stretch;
	
	/* text properties */
	font-family: monospace;
}

.collapsible-container {
	/* dimensions */
	background-color: black;
	color: white;
	border-bottom: 2px solid white;

	/* flext properties */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	flex-basis: 0;
}

.collapsible-container:hover {
	--title-container-color: #000;
	--title-container-background-color: #fff;
}

.title-container {
	/* dimensions */
	width: 100%;

	/* flex properties */
	display: flex;
	align-items: center;
	justify-content: center;	

	/* coloring properties */
	color: var(--title-container-color);
	background-color: var(--title-container-background-color);
}
